/* Ocultar elementos del tema base kingfisher */
.dolmar-product {
  border: 1px solid #ddd;
  padding: 3px;
  background-color: #eee;
  margin-bottom: 15px;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
}

.dolmar-product .oe_product_image {
  background-color: #FFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dolmar-product .oe_product_image img {
  margin: auto;
}
.dolmar-product-files {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.product-detail-attachments {
  padding: 3px;
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
}

.product-detail-attachments > div {
  text-align: center;
  margin-bottom: 0.5em;
}
