<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sales Quotation Split</h2>
        <h3 class="oe_slogan">Divide large quotation into sub quotations</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Allow Quotation Splitting in Sales settings</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
By installing this module, you will find option under Settings >> Configuration >> Sales menu. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Quote_Split2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Split Quotation Button in Quotation Form</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Quote_Split3.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Once you tick the option "Allow Quotation Splitting" under Settings >> Configuration >> Sales menu,
                a button named as "Split Quotation" will be visible in any Quotation form. 
                You can split the quote only in case of when it is in "Draft" state and having more then one sale order lines.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Select order lines and move them to new Quotation</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
By clicking on "Split Quotation" button in any Quotation form, you will able to select Order lines and move them to new Quotation. 
Here, you can change customer and pricelist also. So in new quotation, you will have changed price according to selected pricelist. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Quote_Split4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Naming pattern of Splitted Quotations</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Quote_Split6.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
               Once you split any quotation from main quotation, you will have that main Quotation reference no in splitted quotation.
               For example, if you split SO015 to new quotation then reference no of sub quote will be S0015/1 and if you further devide 
               SO015 to again in any sub part then its reference no would be SO015/2 despite of even S0015/1 is deleted.
               
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Disable splitted quote naming pattern</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
You can disable naming pattern from splitted quotation by company wise. In order to do that go to Settings >> Companies >> Companies and open any company
and uncheck the option "Keep Split Quotation Name Pattern?". However by disabling the naming pattern in splitted quotation, you will still able to see
history in any quotation, from "Splitted From" field.

            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="Quote_Split7.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Help&nbsp;</a></span>
            <span class="fa fa-road fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/generate_support_ticket">&nbsp;Support&nbsp;</a></span>
            <span class="fa fa-wrench fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Request new Features</a></span>
</div>
</section>
